.container {
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-size: 2rem;
  background-color: black;
  width: 100%;
  height: 35vh;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  perspective: 400px;
  perspective-origin: bottom;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transform: scaleY(0.9);
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  pointer-events: none;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(255, 255, 255, 0));
}

.credits {
  text-align: justify;
  font-size: 3rem;
  position: absolute;
  width: 80%;
  animation: play 40s linear infinite;
}

@keyframes play {
  0% {
    transform: rotateX(20deg) translateY(60%);
  }
  100% {
    transform: rotateX(20deg) translateY(-120%);
  }
}

.boxBlack {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: black;
  z-index: 1;
  top: 0;
}
