.container {
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-size: 2rem;
  background-color: black;
  width: 100%;
  height: 35vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  perspective: calc(100vh - 35vh);
  perspective-origin: bottom;
  height: 100%;
  transform: scaleY(0.9);
  position: relative;
  overflow: hidden;
  user-select: none;
}

.content::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: 10;
  pointer-events: none;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(255, 255, 255, 0));
}

.credits {
  text-align: justify;
  font-size: 3rem;
  position: absolute;
  width: 80%;
  animation: play 30s linear infinite;
}

@keyframes play {
  0% {
    transform: rotateX(20deg) translateY(60%);
  }
  100% {
    transform: rotateX(20deg) translateY(-120%);
  }
}
