@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

:root {
  --font-primary: "Jersey 15", "Poppins", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

@theme inline {
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
}

@layer base {
  *,
  *::before,
  *::after {
    @apply m-0 p-0 box-border;
  }

  html {
    @apply text-base leading-normal scroll-smooth;
  }

  body {
    @apply text-gray-800 bg-transparent font-secondary antialiased;
  }

  img,
  video {
    @apply max-w-full h-auto;
  }

  html,
  body,
  #root {
    @apply w-full h-full;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary;
  }

  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
}
