.header {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px white;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  color: white;
  background-color: #011940;
  padding: 1.5rem;
  border-radius: 1.5rem;
  user-select: none;
  min-width: 400px;

  outline: 2px solid white;

  box-shadow: 0 0 10px white, 0 0 20px white, inset 0 0 5px white;
}
