.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
}

.contant {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.contantConfig {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.contantFeedback {
    position: absolute;
    bottom: 10px;
    right: 10px;
}